.leftpanel
{
    display: inline-block;

    pointer-events: all;

    background: white;
}

.leftpanel-tab
{
    /*position: absolute;*/
    z-index: 1;

    width: 100%;

    border-bottom-width: thin;
    border-bottom-style: solid;
    border-bottom-color: lightgray;
}


.lp-tab
{
    font-size: 20px;

    float: left;

    width: 149px;
    height: 60px;
    padding: 15px;
    /* padding-left: 20px; */

    cursor: pointer;

    color: black;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: lightgray;
}

.lp-tab.active
{
    background: lightskyblue;
}

.preset
{
    margin-top: 10px;

    cursor: pointer;
}

.preset-option-title
{
    font-size: 24px;
}

.preset-list
{
    clear: both;

    margin-top: 10px;
}

.preset-option-list
{
    height: 20px;
    margin-top: 5px;
}

.preset-option
{
    float: left;

    margin-right: 5px;

    cursor: pointer;
}

.preset-title
{
    font-size: 21px;
    font-weight: 700;
}

.preset-description
{
    font-size: 18px;
}

.preset-config
{
    padding: 5px;

    background: #eee;
}

.preset-config-title
{
    font-size: 26px;
    font-weight: 600;

    background: #eee;
}


/* Header bar should be overwritten by children, so if you increase the border-top height above, you should match it here */



.leftpanel-collapsed .leftpanel-content
{
    display: none;

    width: 0;
}

.sidebar
{
    bottom: 20px;
    /* position: absolute; */

    display: -ms-flexbox;
    display: flex;

    width: 300px;
    height: 100%;
    margin-top: 15px;
    margin-left: 15px;

    pointer-events: none;

    background: white;
    box-shadow: 0 1px 7px rgba(0, 0, 0, .4);
}

.leftpanel-collapsed .leftpanel
{
    display: none;
}

.leftpanel-collapsed .leaflet-container
{
    margin-left: 0;
}

.techTitle
{
    font-size: 10px;
    line-height: 100%;

    text-align: center;

    background: transparent;
}

.techCircle
{
    cursor: pointer;
    pointer-events: visible;
}

.techCircle:hover
{
    opacity: .5;
}

.radar-trend-item
{
    font-size: 14px;

    padding: 8px;

    cursor: pointer;
}

.radar-trend-item-selected
{
    font-size: 14px;

    padding: 8px;

    cursor: pointer;

    background: lightskyblue;
}

#chart
{
    text-align: center;
}

.segmentArc
{
    z-index: 1;

    fill: white;
    stroke: gray;
    stroke-width: .5;
}

.segmentArc:hover
{
    z-index: 10;

    stroke: black;
    stroke-width: 3;
}

.radialText
{
    font-size: 14px;
    font-weight: 600;

    fill: #6b6b6b;
}

.arc
{
    fill: red;
    stroke: white;
    stroke-width: 3;
}

.viz-title
{
    font-size: 18px;
    font-weight: 600;

    margin-top: 15px;
}

.circle-button
{
    margin: 4px;

    cursor: pointer;
}

.viz-dimension
{
    width: 80%;
}

.horizontalTitle
{
    font-size: 10px;
    font-weight: 400;
    line-height: 95%;
    letter-spacing: 0;
    fill: #6b6b6b;
}


.legend-list
{
    list-style-position: outside;
}

.legend-list-item
{
    margin-top: 4px;
    margin-left: -30px;
    list-style: none;
}

.legend-list-item:hover
{
    font-weight: 800;
}

.radar-title
{
    font-size: 34px;
    margin-right: 50px;
    /* text-align: center; */
    /* width: 100%; */
    /* position: absolute; */
    /* right: 0; */
    /* top: 20px; */
    margin-left: 50px;

    cursor: pointer;
}

/*Reset the legend from user agent stylesheet*/
legend
{
    border: none !important;
}

#sidebar-vis
{
    border-right: 1px solid #d1d1d1;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}

#config .input-group
{
    margin-top: 10px;
}


#radar-sidebar,
#radar-sidebar .row
{
    border: 1px solid #d1d1d1;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}

.container-fluid #sidebar-vis a:hover
{
    border-bottom: none !important;
}

#sidebar-vis h1,
#sidebar-vis h2,
#sidebar-vis h3,
#sidebar-vis h4
{
    margin-top: 30px;
    padding-bottom: 15px;

    border-bottom: 1px dotted #e9e9e9 !important;
}

#sidebar-vis span.label-info
{
    cursor: context-menu;

    color: #fff;
    background: rgba(62, 102, 133, .5);
}

#sidebar-vis span.label-info:hover
{
    -webkit-transition: all .5s ease;
            transition: all .5s ease;

    color: rgb(62, 102, 133);
    background: rgba(62, 102, 133, .1);
    -webkit-box-shadow: 0 0 6px 0 rgba(62, 102, 133, .575);
       -moz-box-shadow: 0 0 6px 0 rgba(62, 102, 133, .575);
            box-shadow: 0 0 6px 0 rgba(62, 102, 133, .575);
}

#info-collapse
{
    position: relative;

    margin-top: 20px;
    padding: 20px;

    text-align: justify;

    border: 1px solid rgba(204, 217, 227, .8);
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    background: rgba(204, 217, 227, .05);
}

#info-collapse span.label-info
{
    position: absolute;
    z-index: 100;
    top: 10px;
    right: 10px;
}

#techradar-vis
{
    display: block;
    /* Prevent the vis from taking all the space in the window */

    max-width: 1000px;
    margin: 0 auto !important;

    text-align: center;
}

.label-button
{
    margin-left: 5px;

    color: rgb(51, 51, 51);
    border: 1px solid rgb(204, 204, 204);
    background: #fff;
}

.label-button:hover
{
    -webkit-transition: all .5s ease;
            transition: all .5s ease;

    color: #fff;
    background: rgba(62, 102, 133, .5);
    -webkit-box-shadow: 0 0 6px 0 rgba(62, 102, 133, .575);
       -moz-box-shadow: 0 0 6px 0 rgba(62, 102, 133, .575);
            box-shadow: 0 0 6px 0 rgba(62, 102, 133, .575);
}

.explore-col
{
    padding: 10px;
    padding-bottom: 30px;
}

.btn-group-vertical
{
    width: 100% !important;
    padding: 0;
}

#radar-sidebar .input-group
{
    width: 100% !important;
}
