@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html {
    font-family: sans-serif;
    font-size: 14px;
    /*For the sticky footer*/
    position: relative;
    min-height: 100%;
}

body {
  margin: 0;
  background: url('../static/images/background-particles-seamless-white.png') repeat center center fixed !important;
  font-family: 'Source Sans Pro', sans-serif;
  /*For the sticky footer*/
  margin-bottom: 300px;
}

.navbar {
  padding: 0px;
  background: white;
}

.trend-technology:hover,.trend-technology.pg-state-hover
{
  font-weight: 600;
}

.trend-technology
{
  font-size:12px;
  cursor:pointer;
}

.trend-example
{
  font-size:12px;
  cursor:pointer;
}

.trendNavigation {
  position: absolute;
  width: 55px;
  height: 55px;
  top: 50%;
  background: red;
  font-size: 28px;
  padding: 8px;
  cursor: pointer;
}

.nextTrend {
  right: 0px;
}

.prevTrend {
  left: 0px;
}

@media (max-width: 799px) {
  .navbar-title {
    font-weight: 600;
    margin-left: 10px;
    font-size: 22px;
  }
}

@media (min-width: 800px) {
  .navbar-title {
    display: none;
  }
}

@media (max-width: 799px) {
  .navbar-logo {
    width: 75px;
    float: left;
    margin-right: 10px
  }
}

@media (min-width: 800px) {
  .navbar-logo {
    float: left;
    margin-right: 10px
  }
}

.nl-form {
  font-size: 30px;
  margin: 10px;
}

.nlf-select {
  font-size: 30px;
  border-color: transparent;
  color: green;
  border-bottom-color: green;
}

a.nav-link {
  display: block;
  color: #000!important;
  text-decoration: none;
  border-bottom: 2px dotted #d1d1d1;
  background-color: #fff;
  padding: 10px!important;
  margin: 0 20px 0 0!important;
}

.nav>li>a {
  display: block;
  color: #000!important;
  text-decoration: none;
  border-bottom: 2px dotted #d1d1d1;
  background-color: #fff;
  padding: 10px!important;
  margin: 0 20px 0 0!important;
  color: #000!important;
  font-family: Rubik;
  font-weight: 500!important;
  font-size: 24px;
}

.ts-technology-title
{
  font-size:24px;
  font-weight: 600;
  margin-top:10px;
}

.ts-technology-description
{
  margin-top:5px;
  margin-bottom: 5px;
}

@media (min-width: 800px) {
  .technologysheet {
    position: fixed;
    left: 0;
    right: 0;
    padding: 10px;
    top: 50px;
    height: 400px;
    z-index: 1001;
    background-color: white;
    color: rgb(105, 105, 105);
    margin: 10px;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  }
}

@media (max-width: 799px) {
  .technologysheet {
    position: fixed;
    left: 0;
    right: 0;
    padding: 10px;
    top: 50px;
    bottom: 0;
    z-index: 1001;
    background-color: white;
    color: rgb(105, 105, 105);
    margin: 10px;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  }
}

.sheetbackground {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1000;
  background: rgba(0%, 0%, 0%, 0.495);
}

@media (min-width: 800px) {
  .trend-content {
    background-color: rgba(0, 0, 0, .75);
    width: auto;
    height: 85px;
    margin-left: 40px;
  }
  .trend-title {
    padding: 5px;
    font-size: 45px;
    font-family: Rubik;
    font-weight: 500!important;
    color: white;
  }
  .trend-description {
    margin-left: 5em;
    margin-top: 550px;
  }
}

.trendradar-image-mobile {
  width: 300px;
}

@media (max-width: 799px) {
  .trendradar-desktop {
    display: none;
  }
  .trend-content {
    background-color: rgba(0, 0, 0, .75);
    height: 85px;
  }
  .trend-title {
    padding: 5px;
    font-size: 30px;
    font-family: Rubik;
    font-weight: 500!important;
    color: white;
  }
  .trend-description {
    margin-left: 1em;
  }
}

.trend-title-image {
  height: 10em;
  z-index: -1;
  padding-top: 20px;
}

.card-image {
  background-size: cover!important;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: block;
}

.card {
  background: green;
  height: 250px;
  padding: 0;
  border-bottom-left-radius: 0px;
}

@media (max-width: 799px) {
  .card {
    height: 150px;
  }
}

.splash {
  text-align: center;
  margin: 10% 0 0 0;
  box-sizing: border-box;
}

.splash .message {
  font-size: 72px;
  line-height: 72px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splash .fa-spinner {
  text-align: center;
  display: inline-block;
  font-size: 72px;
  margin-top: 50px;
}

.h2 {
  font-family: Rubik;
  font-weight: 500!important;
}

.page-host {
  margin-top: 50px;
  overflow-x: hidden;
  overflow-y: auto;
}

@media print {
  .page-host {
    position: absolute;
    left: 10px;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-y: inherit;
    overflow-x: inherit;
  }
}

.newsBlock {
  background-color: rgb(255, 255, 255);
  width: 100%;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  min-height: 280px;
  height: 100%;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: initial;
  transition-property: all;
}

.article-block {
  display: flex;
  width: 100%;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 5px;
}

section {
  margin: 0 0px;
}

.navbar-nav li.loader {
  margin: 12px 24px 0 6px;
}

.pictureDetail {
  max-width: 425px;
}


/* animate page transitions */

section.au-enter-active {
  animation: fadeInRight 1s;
}

div.au-stagger {
  /* 50ms will be applied between each successive enter operation */
  animation-delay: 50ms;
}

.card-container.au-enter {
  opacity: 0 !important;
}

.card-container.au-enter-active {
  animation: fadeIn 2s;
}

.wiki-ref
{
     width: 22px;
    float: left;
    margin: 5px;
}

.link-img
{
  width: 14px;
}

.wiki-abstract
{
   margin-top:-28px;
    float: left;
    margin-left: 40px;
}

.example-card {
  overflow: hidden;
  cursor: pointer;
  height: 100px;
  position: relative;
  text-align: center;
  padding: 0;
  background-color: #337ab7;
  color: rgb(136, 172, 217);
  margin: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.card {
  overflow: hidden;
  cursor: pointer;
  position: relative;
  text-align: center;
  padding: 0;
  background-color: #337ab7;
  color: rgb(136, 172, 217);
  margin: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.platform-card:hover,.platform-card.pg-state-hover {
  opacity: 0.5;
  animation: fadeIn 1s;
}

.card-technology-category
{
  color: #fff;
  margin:5px;
  background-color: #1e72a6;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  text-transform: uppercase;
  padding: 3px;
  text-decoration: none;
}

.card-category {
  color: #fff;
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #1e72a6;
  font-size: 10px;
  font-weight: 300;
  line-height: 20px;
  display: block;
  text-transform: uppercase;
  padding: 0 10px;
  text-decoration: none;
}

.card:hover .card-category,.card.pg-state-hover .card-category {
    display:none;
}



.card:hover .card-technology-category,.card.pg-state-hover .card-technology-category
{
  display:block;
}

.single-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: -webkit-box;
  line-height: 12px;
  /* fallback */
  max-height: 32px;
  /* fallback */
  -webkit-line-clamp: 1;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.example-card-title {
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  background-color: #fff;
  position: absolute;
  padding: 3px 3px;
  z-index: 10;
  color: #252c30;
}

.card-title {
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: left;
  font-weight: 700;
  font-size: 16px;
  background-color: #fff;
  position: absolute;
  padding: 10px 10px;
  z-index: 10;
  color: #252c30;
}

.trend-card-title
{
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: left;
  font-weight: 700;
  font-size: 16px;
  background-color: #fff;
  position: absolute;
  padding: 10px 10px;
  z-index: 10;
  color: #252c30;
}

.card:hover .card-title,.card.pg-state-hover .card-title {
    top: 0px;
}

.card-title:hover,.card-title.pg-state-hover
{
      top: 0px;
}

.add-platform-form
{
  max-width:700px;
  margin-left:40px;
}

.add-platform-button
{
  position:absolute;
  right:50px;
  height:50px;
  top:75px;
  cursor:pointer;
}



.platform-url {
  color: gray;
  font-size: 12px;
}

.card .content {
  margin-top: 10px;
}

.container-flex {
  max-width: 1040px;
  margin-right: auto;
  margin-left: auto;
}

.card .content .name {
  color: white;
  text-shadow: 0 0 6px rgba(0, 0, 0, .5);
  font-size: 18px;
}

.card .header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px #FFF solid;
  border-radius: 6px 6px 0 0;
}

.card .avatar {
  position: relative;
  margin-top: 15px;
  z-index: 100;
}

.card .avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px #FFF solid;
}


/* animation definitions */

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    transform: none
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    transform: none
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*HOME*/

.stylish-input-group .input-group-addon{
  background: white !important;
}
.stylish-input-group .form-control{
  border-right:0;
  box-shadow:0 0 0;
  border-color:#ccc;
font-size:30px;
}
.stylish-input-group button{
  border:0;
  background:transparent;
}

@media (max-width: 799px) {

.search-container
{
margin-top:3em;
}
}

@media (min-width: 800px) {

.search-container
{
margin-top:15em;
}
}

.search-top
{
margin-top:2em;
}

.search-title
{
font-size:30px;
}

.navigate-box
{

}

.navigate-content
{
   margin: 5px;
  height: 5em;
  text-align: center;
  padding-top: 10px;
  font-size: 24px;
  font-family: Rubik;
  cursor: pointer;
    overflow: hidden;

color: rgb(136, 172, 217);
box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.navigate-image
{
background-size: cover!important;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  /* position: absolute; */
  display: block;
}

.navigate-title
{
   position: absolute;
  bottom: 0px;
  left: 20px;
  right: 20px;
  /* height: 2em; */
  background: white;
  font-size: 24px;
  color: black;
  margin: 0px;
}

/* MAKE-IT */
nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: block;
}

footer {
    padding-bottom: 30px;
    font-size: 90%;
    text-align: center;
    /*For the sticky footer*/
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 300px;
}

header {
    width: 100%;
    margin-bottom: 0;
}

.header-logo {
    margin-top: 110px !important;
    margin-bottom: 40px !important;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
}

.header-without-logo {
    margin-top: 90px !important;
    background-color: rgba(255, 255, 255, 0.0);
}

.slogan {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 160%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    width: 30%;
    text-align: center;
}

.slogan-long {
    font-weight: 500;
    font-size: 110% !important;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    width: 50% !important;
    text-align: center;
    margin: 35px auto 0 !important;
}

.mk-color01 {
    color: #7DB478;
}

.mk-color02 {
    color: #EEAA56;
}

.mk-color03 {
    color: #F16456;
}

.mk-color04 {
    color: #3E6684;
}

hr {
    margin: 50px;
}

.gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+19,1+100 */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 19%, rgba(255, 255, 255, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 19%, rgba(255, 255, 255, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 19%, rgba(255, 255, 255, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
    */
    /* IE6-9 */
}

h1,
h2,
h3,
h4 {
    padding: 5px;
    font-family: "Rubik", sans-serif;
}

h1 {
    font-weight: 500;
    margin: 30px auto;
    text-align: center;
    font-size: 140% !important;
}

h2 {
    font-weight: 400;
    margin: 20px auto;
    text-align: center;
    font-size: 120% !important;
}

h3 {
    font-weight: 300;
    margin: 10px auto;
    text-align: center;
    font-size: 110% !important;
}

h4 {
    font-weight: 200;
    margin: 10px auto;
    text-align: center;
    font-size: 105% !important;
}

/* Automatical heading numbering */

body {
    counter-reset: h2counter;
}

h2 {
    counter-reset: h3counter;
}

h3 {
    counter-reset: h4counter;
}

.entry-content h2:before {
    counter-increment: h2counter;
    content: counter(h2counter) ". ";
}

.entry-content h3:before {
    counter-increment: h3counter;
    content: counter(h2counter) "." counter(h3counter) ". ";
}

.entry-content h4:before {
    counter-increment: h4counter;
    content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) ". ";
}

h2.nocount:before,
h3.nocount:before,
h4.nocount:before,
h5.nocount:before,
h6.nocount:before {
    content: "";
    counter-increment: none;
}

ol,
p,
table,
ul {
    font-size: 100%;
}

img {
    padding: 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

section {
    margin-top: 100px;
}

strong {
    border-bottom: 2px solid #F16456;
}

em {
    border-bottom: 2px solid #7DB478;
}

.container-fluid a {
    color: #3E6684 !important;
    border-bottom: 2px dashed #3E6684;
    text-decoration: none;
    background-color: rgba(62, 102, 133, 0.1);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.container-fluid a:hover,.container-fluid a.pg-state-hover {
    color: #fff !important;
    border-bottom: 2px solid #3E6684 !important;
    text-decoration: none;
    background-color: rgba(62, 102, 133, 0.5);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-box-shadow: 0 0 6px 0 rgba(62, 102, 133, .575);
    -moz-box-shadow: 0 0 6px 0 rgba(62, 102, 133, .575);
    box-shadow: 0 0 6px 0 rgba(62, 102, 133, .575);
}

.container-fluid a img {
    text-decoration: none;
    border: 0 none;
    border: 1px dashed #3E6684 !important;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.container-fluid a img:hover,.container-fluid a img.pg-state-hover {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-box-shadow: 0 0 12px 0 rgba(62, 102, 133, .575);
    -moz-box-shadow: 0 0 12px 0 rgba(62, 102, 133, .575);
    box-shadow: 0 0 12px 0 rgba(62, 102, 133, .575);
}


/* Fix image link problem in footer */
footer p a {
    color: #3E6684;
    border-bottom: 2px dashed #3E6684;
    text-decoration: none;
    background-color: rgba(62, 102, 133, 0.1);
    padding: 0 3px !important;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

footer p a:hover,footer p a.pg-state-hover {
    color: #fff;
    border-bottom: 2px solid #3E6684;
    text-decoration: none;
    background-color: rgba(62, 102, 133, 0.5);
    padding: 0 3px !important;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-box-shadow: 0 0 6px 0 rgba(62, 102, 133, .575);
    -moz-box-shadow: 0 0 6px 0 rgba(62, 102, 133, .575);
    box-shadow: 0 0 6px 0 rgba(62, 102, 133, .575);
}

.rounded-separator-h1-top {
    color: #EEAA56;
    background-color: #EEAA56;
    height: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.rounded-separator-h1-bottom {
    color: #EEAA56;
    background-color: #EEAA56;
    height: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.rounded-separator-h2-top {
    color: #EEAA56;
    background-color: #EEAA56;
    height: 6px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-top: 60px !important;
}

.rounded-separator-h2-bottom {
    color: #EEAA56;
    background-color: #EEAA56;
    height: 6px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.rounded-separator-h3-top {
    color: #EEAA56;
    background-color: #EEAA56;
    height: 3px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    margin-top: 40px !important;
}

.rounded-separator-h3-bottom {
    color: #EEAA56;
    background-color: #EEAA56;
    height: 3px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.rounded-separator-h4-top {
    color: #EEAA56;
    background-color: #EEAA56;
    height: 2px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    margin-top: 20px !important;
}

.rounded-separator-h4-bottom {
    color: #EEAA56;
    background-color: #EEAA56;
    height: 2px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}


.btn {
    padding: 10px !important;
    font-weight: 600;
    background: #e2e2e2;
}

.btn:hover,.btn.pg-state-hover {
    padding: 10px !important;
    background: rgba(62, 102, 133, .775);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-box-shadow: 0 0 6px 0 rgba(62, 102, 133, .575);
    -moz-box-shadow: 0 0 6px 0 rgba(62, 102, 133, .575);
    box-shadow: 0 0 6px 0 rgba(62, 102, 133, .575);
}

/*Navbar: CSS RESET
From https://gist.github.com/justincarroll/5578679*/

nav.container-fluid .navbar-fixed-bottom .navbar-inner,
nav.container-fluid .navbar-fixed-top .navbar-inner,
nav.container-fluid .navbar-inner,
nav.container-fluid .navbar-static-top .navbar-inner {
    background: none;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    filter: none;
    padding: 0;
}

nav.container-fluid .navbar {
    margin-bottom: 0;
}

nav.container-fluid .navbar .nav {
    margin: 0;
}

nav.container-fluid .navbar .brand,
nav.container-fluid .navbar .nav > li > a {
    margin: 0;
    padding: 0;
    text-shadow: none;
}

nav.container-fluid .navbar .btn-navbar,
nav.container-fluid .navbar .btn-navbar:hover,nav.container-fluid .navbar .btn-navbar.pg-state-hover {
    background: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    text-shadow: none;
}

/*New navbar
Toggle color*/

.navbar-default .navbar-toggle {
    border-color: #000;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: 7px !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}

/*Navbar: NEW*/

nav {
    color: #000 !important;
    font-family: 'Rubik';
    font-weight: 500 !important;
    background-color: rgba(255, 255, 255, 1);
    border: 0;
    border-bottom: 1px solid #e8e8e8 !important;
    padding: 10px !important;
    height: 80px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .175);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .175);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .175);
}

.navbar-nav li a {
    line-height: 27px;
}

.navbar-header button {}

.dropdown-menu a:hover,.dropdown-menu a.pg-state-hover {
    background-color: #e8e8e8 !important;
    border-bottom: 2px dotted #000;
}

.navbar-nav li a {
    display: block;
    color: #000 !important;
    text-decoration: none;
    border-bottom: 2px dotted #d1d1d1;
    background-color: rgba(255, 255, 255, 1);
    padding: 10px !important;
    margin: 0 20px 0 0 !important;
    font-weight: 500px;
}

.navbar-nav li a:hover,.navbar-nav li a.pg-state-hover {
    background-color: #e8e8e8;
    color: #000 !important;
    border-bottom: 2px dotted #000;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding: 10px !important;
    margin: 0 20px 0 0 !important;
}

.navbar-nav li a:focus,.navbar-nav li a.pg-state-focus {
    text-decoration: none;
    border-bottom: 2px solid #000;
    color: rgb(230, 230, 230);
    background-color: #e8e8e8;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 10px !important;
    margin: 0 20px 0 0 !important;
}

a.navbar-brand {
    background-color: transparent !important;
    border-bottom: 2px solid #fff !important;
    padding: 0px !important;
}

a.navbar-brand img {
    text-decoration: none;
    border: 2px solid #fff !important;
    background-color: #fff !important;
    padding: 10px !important;
}

a.navbar-brand:hover,a.navbar-brand.pg-state-hover {
    background-color: #fff !important;
    border-bottom: 2px solid #e8e8e8 !important;
    -webkit-transition: all 3.1s ease;
    transition: all 3.1s ease;
}

/* Dropdown with shadow and more */

.dropdown-menu {
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    margin: 0 !important;
    padding: 5px !important;
    font-size: 80% !important;
    border: 0 !important;
    width: 80% !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
}

.dropdown-menu a,
.dropdown-menu a:focus,
.dropdown-menu a:hover,.dropdown-menu a.pg-state-hover,.dropdown-menu a.pg-state-focus,.dropdown-menu a.pg-state-hover {
    margin-right: 0 !important;
}

/*All inputs*/


input,
textarea {
    border: 1px solid #ccc;
    box-shadow: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.container-fluid {
    width: 95%;
}

.container-fluid p {
    margin-bottom: 10px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
    padding: 0 !important;
}

.container-fluid {
    background-color: rgba(255, 255, 255, 0.9);
}

.container-fluid ol,
.container-fluid ul {
    margin-left: 30px;
}
.main {
  margin-top: 100px;
  border-top: 20 solid #000000;
}
